<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leeder.demo.dao.SparesRecord">
	<insert id="insertData"
		parameterType="com.leeder.demo.domain.SparesRecordBean"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO testTable2
		( spares_id
		, note
		, r_type
		, num
		, record_date
		, status
		, create_time
		,name )
		VALUES
		<foreach collection="list" item="me" separator=",">

			(#{me.sparesId}
			,#{me.note}
			,#{me.rType}
			,#{me.num}
			,#{me.recordDate}
			,#{me.status}
			,#{me.createTime}
			,#{me.name})

		</foreach>
	</insert>

	<select id="getTestData"
		resultType="com.leeder.demo.domain.HistogramVO">
		SELECT
		name
		,sum(num) as num
		FROM  testTable2
		group by name order by sum(num) desc
	</select>

	<select id="getDataByName"
		resultType="com.leeder.demo.domain.MultiLineVO">
		SELECT
		name,
		DATEPART(year,record_date) as year,
		SUM(num) as num
		FROM testTable2
		group by DATEPART(year,record_date),name
		order by name


	</select>

	<select id="getDataByDay"
		resultType="com.leeder.demo.domain.UpdateVo">
		SELECT
		num
		,record_date as recordDate
		FROM   testTable2
		order by record_date
	</select>


</mapper>
